:root {
  --color-primary: rgb(29, 161, 242);
  --color-black: rgb(20, 23, 26);
  --color-dark-gray: rgb(101, 119, 134);
  --color-light-gray: rgb(170, 184, 194);
  --color-extra-light-gray: rgb(225, 232, 237);
  --color-extra-extra-light-gray: rgb(245, 248, 250);
  --color-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
}

.col-3.title {
  width: 37.5%;
}

.col-5.title {
  width: 62.5%;
}

html, body, .main {
  margin: 0px;
  padding: 0px;
}

.main {min-height: 100vh;}

body {
  background-color: var(--color-primary);
  font-family: 'Helvetica Neue 55 Roman', Helvetica, Arial, "Lucida Grande", sans-serif; 
}

@font-face {
  font-family: 'Helvetica Neue 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 55 Roman'), url('HelveticaNeue-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue 75 Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 75 Bold'), url('HelveticaNeue-Bold.woff') format('woff');
}

[class*="col-"] {
  float: left;
  padding: 1.5vmin;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  padding: 2vw;
  margin: 0px;
  font-size: 7vw;
  text-align: right;
  font-family: 'Helvetica Neue 75 Bold', Helvetica;
}

h2 {
  padding: 2vw;
  margin: 0px;
  font-size: 4vw;
}

h3 {
  padding: 0vmin 0.5vmin;
  font-size: 2.5vmin;
  color: var(--color-black);
  font-family: 'Helvetica Neue 75 Bold', Helvetica;
}

.tweet {
  padding: 1.5vmin;
}

.border {
  border: 0.5vmin solid var(--color-light-gray);
}

.round-border {
  border: 0.5vmin solid var(--color-dark-gray);
  border-radius: 1vmin;
}

.bold {
  font-family: 'Helvetica Neue 75 Bold';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}

.bottom {
  vertical-align: text-bottom;
}

.top {
  vertical-align: text-top;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navBar {
  background-color: var(--color-light-gray);
  border: 0.5vmin solid var(--color-dark-gray);
  border-radius: 1.5vmin;
  padding: 0.5vmin
}

.navButton {
  height: 10vmin;
  width: 20vmin;
  color: var(--color-primary);
  font-size: 3.5vmin;
  background-color: var(--color-extra-extra-light-gray);
  border: 0.5vmin solid var(--color-dark-gray);
  border-radius: 1.5vmin;
  margin: 0.5vmin;
  padding-top: 1vmin;
}

.navButton:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  font-size: 3.75vmin;
  font-style: italic;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-extra-extra-light-gray);
}

.tweetBorder {
  padding: 1vmin;
  border: 0.5vmin solid var(--color-dark-gray);
  border-radius: 0.5vmin 2.5vmin 2.5vmin;
  background-color: var(--color-white);
}

.tweetHeader {
  padding: 0.5vmin;
  border: 0.3vmin solid var(--color-dark-gray);
  background-color: var(--color-extra-light-gray);
  border-radius: 0.5vmin 2.5vmin 1vmin 1vmin;
}

.tweetText {
  color: var(--color-black);
  font-size: 1.75vmin;
}

.tweetBody {
  padding: 0.5vmin;
}

.tweetFooter {
  padding: 0.5vmin;
}

.textBox {
  padding: 0px 1.5vmin;
}

.textBox.large {
  font-size: 6vh;
}

.textBox.medium {
  font-size: 3vh;
}

.primary {
  color: var(--color-primary);
}

.black {
  color: var(--color-black);
}

.dark-gray {
  color: var(--color-dark-gray);
}

.light-gray {
  color: var(--color-light-gray);
}

.extra-light-gray {
  color: var(--color-extra-light-gray);
}

.extra-extra-light-gray {
  color: var(--color-extra-extra-light-gray);
}

.white {
  color: var(--color-white);
}

#splash {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("splash.jpeg");
  background-origin: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 75vh;
}

#page {
  background-color: var(--color-light-gray);
}

.no-padding {
  padding: 0px;
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 12.5%;}
  .col-2 {width: 25%;}
  .col-3 {width: 37.5%;}
  .col-4 {width: 50%;}
  .col-5 {width: 62.5%;}
  .col-6 {width: 75%;}
  .col-7 {width: 87.5%;}
  .col-8 {width: 100%;}
  .navBar {width: 23vmin;}
}